ServerName cRPG-{{ crpg_region | upper }}-{{ crpg_game_server_id }}{{ item.name | upper }} Training Ground - c-rpg.eu
GameType cRPGTrainingGround
MapTimeLimit 40
MaxNumberOfPlayers 32
NumberOfBotsTeam1 0
NumberOfBotsTeam2 0
NumberOfBotsPerFormation 10
MapTimeLimit 40
start_game
set_automated_battle_count -1
enable_automated_battle_switching
crpg_apply_harmony_patches
